.container__small-card{
    border: solid white 2px;
    border-radius: 10px;
    width: 700px;
    height: 190px;
    display: flex;
    flex-direction: row;
    margin: 15px;
    align-items: center;
    
}

.container__small-card-photo > img{
    width: 250px;
    margin: 5px;
    margin-left: 10px;
}