.container__content {
 border: white 1px solid;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.content__cover{
    border: 1px white solid;
}
.content__cover > img {
    border: 1px white solid;
    width: 500px;
    height: 300px;
    border-radius: 5px;
}